<?php

// Site Studio Account Settings.
$config['cohesion.settings']['api_key'] = '{{secrets['site_studio']['api_key'][drush_alias]}}';
$config['cohesion.settings']['organization_key'] = '{{secrets['site_studio']['organization_key'][drush_alias]}}';
$config['cohesion.settings']['google_map_api_key'] = '{{secrets['site_studio']['google_map_api_key'][drush_alias]}}';

// Content Hub Credentials.
$config['acquia_contenthub.admin_settings']['api_key'] = '{{secrets['content_hub']['api_key'][drush_alias]}}';
$config['acquia_contenthub.admin_settings']['secret_key'] = '{{secrets['content_hub']['secret_key'][drush_alias]}}';

{% if secrets['bbb_deployment']['api_key'][drush_alias] is defined and secrets['bbb_deployment']['api_key'][drush_alias]|length > 0 %}
// For Auto Deployment on Site Factory using 'bbb.deployment' User's API Key
$config['bbb_deployment_api_key'] = '{{secrets['bbb_deployment']['api_key'][drush_alias]}}';
{% endif %}


// Recaptcha settings.
$siteName = Acquia\Blt\Robo\Common\EnvironmentDetector::getAcsfDbName();

if (in_array($siteName, array("sovrnj5000191dev","sovrnj5000181test","sovrnj166"))) {
  $config['recaptcha_v3.settings']['site_key'] = '{{secrets['recaptcha']['site_key']['bbb']}}';
  $config['recaptcha_v3.settings']['secret_key'] = '{{secrets['recaptcha']['secret_key']['bbb']}}';
} else if (in_array($siteName, array("sovrnj5000181dev","sovrnj5000186test","sovrnj161"))) {
  $config['recaptcha_v3.settings']['site_key'] = '{{secrets['recaptcha']['site_key']['bbi']}}';
  $config['recaptcha_v3.settings']['secret_key'] = '{{secrets['recaptcha']['secret_key']['bbi']}}';
} else if (in_array($siteName, array("sovrnj5000186dev","sovrnj5000191test","sovrnj171"))) {
  $config['recaptcha_v3.settings']['site_key'] = '{{secrets['recaptcha']['site_key']['bpc']}}';
  $config['recaptcha_v3.settings']['secret_key'] = '{{secrets['recaptcha']['secret_key']['bpc']}}';
} else if (in_array($siteName,array("sovrnj5000196dev","sovrnj5000196test","sovrnj156"))) {
  $config['recaptcha_v3.settings']['site_key'] = '{{secrets['recaptcha']['site_key']['sul']}}';
  $config['recaptcha_v3.settings']['secret_key'] = '{{secrets['recaptcha']['secret_key']['sul']}}';
}

// OpenID AD integration.
$config['openid_connect.settings.windows_aad']['settings']['client_id'] = '{{secrets['windows_aad']['client_id'][drush_alias]}}';
$config['openid_connect.settings.windows_aad']['settings']['client_secret'] = '{{secrets['windows_aad']['client_secret'][drush_alias]}}';
$config['openid_connect.settings.windows_aad']['settings']['authorization_endpoint_wa'] = 'https://login.microsoftonline.com/{{secrets['windows_aad']['application_id'][drush_alias]}}/oauth2/authorize';
$config['openid_connect.settings.windows_aad']['settings']['token_endpoint_wa'] = 'https://login.microsoftonline.com/{{secrets['windows_aad']['application_id'][drush_alias]}}/oauth2/token';
$config['openid_connect.settings.windows_aad']['settings']['group_mapping']['mappings'] = '{{secrets['windows_aad']['group_mappings'][drush_alias]}}';
$config['openid_connect.settings.windows_aad']['settings']['userinfo_endpoint_wa'] = 'https://login.microsoftonline.com/{{secrets['windows_aad']['application_id'][drush_alias]}}/oauth2/userinfo';
$config['openid_connect.settings.windows_aad']['settings']['userinfo_graph_api_wa'] = '2';
$config['openid_connect.settings']['override_registration_settings'] = 'true';
$config['openid_connect.settings']['connect_existing_users'] = 'true';

$config['smtp.settings']['smtp_username'] = '{{secrets['smtp_settings']['smtp_username'][drush_alias]}}';
$config['smtp.settings']['smtp_password'] = '{{secrets['smtp_settings']['smtp_password'][drush_alias]}}';
$config['smtp.settings']['smtp_from'] = '{{secrets['smtp_settings']['smtp_username'][drush_alias]}}';
